In [9]:
import pandas as pd

file_path = r'D:\1819intern\task2/Superstore1.csv' 

# FIX: Add the 'encoding' parameter, usually 'latin-1' or 'cp1252'
try:
    df = pd.read_csv(file_path, encoding='latin-1')
    print("File read successfully with latin-1 encoding.")
except UnicodeDecodeError:
    # If latin-1 fails, try 'cp1252' (a very common Windows encoding)
    df = pd.read_csv(file_path, encoding='cp1252')
    print("File read successfully with cp1252 encoding.")

print(df.info())

File read successfully with latin-1 encoding.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None

In [10]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11-08-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,06-12-2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10-11-2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [11]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,05-04-2017,05-09-2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [14]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [15]:
#Correct (returns a tuple: (rows, columns)):
print(df.shape)

(9994, 21)

In [16]:
print(df.describe(include='object'))

              Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
count             9994        9994        9994            9994        9994
unique            5009        1237        1334               4         793
top     CA-2017-100111  09-05-2016  12/16/2015  Standard Class    WB-21850
freq                14          38          35            5968          37

        Customer Name   Segment        Country           City       State  \
count            9994      9994           9994           9994        9994
unique            793         3              1            531          49
top     William Brown  Consumer  United States  New York City  California
freq               37      5191           9994            915        2001

       Region       Product ID         Category Sub-Category     Product Name
count    9994             9994             9994         9994             9994
unique      4             1862                3           17             1850
top      West  OFF-PA-10001970  Office Supplies      Binders  Staple envelope
freq     3203               19             6026         1523               48

In [20]:
df.dropna(inplace=True)

In [21]:
# Convert to datetime objects
df['Order Date'] = pd.to_datetime(df['Order Date'], format='mixed')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='mixed')

print(df[['Order Date', 'Ship Date']].info()) # Verify the Dtype is now datetime64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order Date  9994 non-null   datetime64[ns]
 1   Ship Date   9994 non-null   datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 156.3 KB
None

In [22]:
# Check for truly identical rows (structural errors)
print(f"Total fully duplicate rows: {df.duplicated().sum()}")

# Remove structural duplicates if any are found
df.drop_duplicates(inplace=True)

Total fully duplicate rows: 0

In [23]:
# Calculate shipping time in days
df['Shipping_Days'] = (df['Ship Date'] - df['Order Date']).dt.days

# Check the new feature's summary
print(df['Shipping_Days'].describe())

count    9994.000000
mean        3.958175
std         1.747567
min         0.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         7.000000
Name: Shipping_Days, dtype: float64

In [24]:
# Convert low-cardinality columns
categorical_cols = ['Ship Mode', 'Segment', 'Region', 'Category', 'Sub-Category']
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [25]:
# 1. Check for True/False (True means missing)
# This returns a DataFrame of booleans
df.isnull().head()

# 2. Total count of missing values for EACH column
# This is the most common and useful command for a quick assessment
print("Missing values per column:")
print(df.isnull().sum())

# 3. Total count of ALL missing values in the entire DataFrame
print(f"\nTotal missing values in the entire DataFrame: {df.isnull().sum().sum()}")

# 4. Show the percentage of missing values per column
print("\nPercentage of missing values per column:")
print((df.isnull().sum() / len(df)) * 100)

Missing values per column:
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
Shipping_Days    0
dtype: int64

Total missing values in the entire DataFrame: 0

Percentage of missing values per column:
Row ID           0.0
Order ID         0.0
Order Date       0.0
Ship Date        0.0
Ship Mode        0.0
Customer ID      0.0
Customer Name    0.0
Segment          0.0
Country          0.0
City             0.0
State            0.0
Postal Code      0.0
Region           0.0
Product ID       0.0
Category         0.0
Sub-Category     0.0
Product Name     0.0
Sales            0.0
Quantity         0.0
Discount         0.0
Profit           0.0
Shipping_Days    0.0
dtype: float64

In [26]:
# Convert low-cardinality columns for efficiency
categorical_cols = ['Ship Mode', 'Segment', 'Region', 'Category', 'Sub-Category']
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [27]:
df = pd.get_dummies(df, columns=['Segment', 'Ship Mode'], drop_first=True)

In [28]:
from sklearn.preprocessing import LabelEncoder

In [29]:
le = LabelEncoder()

df['Category_Encoded'] = le.fit_transform(df['Category'])

In [30]:
import numpy as np

df['Sales_Log'] = np.log1p(df['Sales'])

In [32]:
df['Order_Day_of_Week'] = df['Order Date'].dt.dayofweek
df['Order_Month'] = df['Order Date'].dt.month
df['Sales_by_Quantity'] = df['Sales'] * df['Quantity']

In [34]:
# Final check before export
print(df.info())

import pandas as pd
import os # Import the built-in operating system module

# Define the file path
output_file_path = 'data/processed/superstore_final_for_BI.csv'
# Extract the directory path from the full file path
output_dir = os.path.dirname(output_file_path)

# --- FIX START ---
# Check if the directory exists, and if not, create it
if not os.path.exists(output_dir):
    # This creates all intermediate folders ('data' and 'processed')
    os.makedirs(output_dir) 
    print(f"Created directory: {output_dir}")
# --- FIX END ---

# Now the export will work
df.to_csv(output_file_path, index=False)

print("\n✅ Successfully exported final cleaned data for visualization tools.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Row ID                    9994 non-null   int64
 1   Order ID                  9994 non-null   object
 2   Order Date                9994 non-null   datetime64[ns]
 3   Ship Date                 9994 non-null   datetime64[ns]
 4   Customer ID               9994 non-null   object
 5   Customer Name             9994 non-null   object
 6   Country                   9994 non-null   object
 7   City                      9994 non-null   object
 8   State                     9994 non-null   object
 9   Postal Code               9994 non-null   int64
 10  Region                    9994 non-null   category
 11  Product ID                9994 non-null   object
 12  Category                  9994 non-null   category
 13  Sub-Category              9994 non-null   category
 14  Product Name              9994 non-null   object
 15  Sales                     9994 non-null   float64
 16  Quantity                  9994 non-null   int64
 17  Discount                  9994 non-null   float64
 18  Profit                    9994 non-null   float64
 19  Shipping_Days             9994 non-null   int64
 20  Segment_Corporate         9994 non-null   bool
 21  Segment_Home Office       9994 non-null   bool
 22  Ship Mode_Same Day        9994 non-null   bool
 23  Ship Mode_Second Class    9994 non-null   bool
 24  Ship Mode_Standard Class  9994 non-null   bool
 25  Category_Encoded          9994 non-null   int64
 26  Sales_Log                 9994 non-null   float64
 27  Order_Day_of_Week         9994 non-null   int32
 28  Order_Month               9994 non-null   int32
 29  Sales_by_Quantity         9994 non-null   float64
dtypes: bool(5), category(3), datetime64[ns](2), float64(5), int32(2), int64(5), object(8)
memory usage: 1.7+ MB
None
Created directory: data/processed

✅ Successfully exported final cleaned data for visualization tools.

In [35]:
# Final Python Action: Export the Prepared Data

# Define the file path for the output CSV
output_file_path = 'data/processed/superstore_final_for_BI.csv'

# Export the DataFrame
# index=False ensures the DataFrame index (0 to 9993) is not saved as an extra column.
df.to_csv(output_file_path, index=False)

print(f"\n✅ Data preparation complete!")
print(f"Data successfully exported to: {output_file_path}")
print("You can now import this CSV file into Tableau or Power BI.")

✅ Data preparation complete!
Data successfully exported to: data/processed/superstore_final_for_BI.csv
You can now import this CSV file into Tableau or Power BI.

In [36]:
import os
# This prints the full path to the folder where Python is looking for files
print(os.getcwd())

d:\1819intern\task2\superstore